html, body, div, ul, li , a, img, h1, h2, h3, h4, h5, h6 {padding: 0px; margin: 0px; border: 0px;}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block;
}
audio:not([controls]) {
	display: none;
	height: 0px;
}
html {
	font-family: sans-serif;
}
q {} small {font-size: 80%;}
svg:not(:root) {overflow: hidden;}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0px;
}
button,input {
	line-height: normal;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
}
input[type="checkbox"],input[type="radio"] {
	padding: 0px;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
body
	{
		font-family: Arial, sans-serif;
		background: #fff;
		font-size: 14px;
	}
h4
	{
		background: #dfdddd;
		border-bottom: 1px solid #b0aeae;
		margin: 10px 0px 15px;
		text-transform: uppercase;
		font-size: 15px;
		padding: 8px 0px 8px 15px;
		color: #433535;
		font-weight: bold;
                text-transform: uppercase;
	}
h5
	{
		background: #edeff4;
		margin: 0px;
		padding: 5px 4px;
		letter-spacing: 0px;
		font-size: 9pt;
		border: none;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #dbe1eb;
		font-weight: bold;
		text-shadow: 0 0 1px #fff;
		color: #333;
	}
#wrapper
	{
		width: 900px;
		margin: 0 auto;
	}
#header
	{
		display: block;
		height: 100px;
	}
#header .left
	{
		display: inline-block;
		float: left;
		width: 279px;
		padding-left: 3px;
		padding-top: 20px;
	}
#header .right
	{
		display: inline-block;
		float: right;
		width: 400px;
		text-align: right;
	}
#header .right .account
	{

	}
#header .right .account a
	{
		margin-left: 10px;
		text-decoration: none;
		color: #646464;
		letter-spacing: -1px;
		text-transform: uppercase;
	}
#header .right .account a:hover
	{
		color: #555;
	}
#header .right input
	{
		padding: 5px 25px 5px 5px;
		margin: 55px 0px 10px 0px;
		width: 240px;
		box-shadow: inset 1px 3px 5px #d3d3d3;
		background: #fff url('../img-preland/lupa.png') right center no-repeat;
		border: 1px solid #bebebe;
		border-radius: 2px;
		color: #646464;
	}
#logo
	{
		width: 279px;
		height: 63px;
	}
#topmenu
	{
		background: #00b5e4;
		position: relative;
		overflow: auto;
		font-size: 15px;
		box-shadow: inset 0 -1px 1px #CCCACA;
	}
#topmenu>ul
	{
		list-style-type: none;
	}
#topmenu>ul>li
	{
		display: inline;
		float: left;
	}
#topmenu>ul>li>img
	{

	}
#topmenu>ul>li>a
	{
		display: inline-block;
		height: 16px;
		padding: 9px 11px 9px;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
	}
#topmenu>ul>li>a.home
	{
		background: url(../img-preland/home.png) no-repeat center center;
		padding: 9px 11px;
		width: 16px;
	}
#topmenu>ul>li>a:hover
	{
		text-decoration: none;
		color: #fff;
		background-color: #433535;
		text-shadow: none;
	}
#topmenu>ul>li>a.home:hover
	{
		background: #433535 url(../img-preland/home_hover.png) no-repeat center center;
	}
#left
	{
		display: inline-block;
		float: left;
		width: 570px;
	}
#left a {
	text-decoration: none;
	color: rgb(0, 146, 215);
}
#left a:hover {
	color: rgb(0, 120, 176);
}
#navbar
	{
		color: rgb(170, 170, 170);
		padding: 5px 10px;
		margin: 10px 0px;
		font-size: 12px;
		text-transform: uppercase;
	}
#navbar a
	{
		color: rgb(0, 146, 215);
	}
#navbar span
	{
		margin: 0px 10px;
	}
#content
	{
		padding: 0;
		font-size: 15px;
		color: rgb(51, 51, 51);
		margin-bottom: 10px;
	}
#right
	{
		display: inline-block;
		float: right;
		width: 300px;
	}
.sidebox
	{
		margin: 0px;
		position: relative;
		overflow: auto;
	}
.sidebox2
	{
		margin: 0px;
		position: relative;
		overflow: hidden;
		background: url(../img-preland/banner_wzwod_bg.jpg) no-repeat #fff;
  		border: 1px solid #000;
  		padding-bottom: 15px;
	}

.banner_text_position{
width:200px;
color:black;
margin-left: 10px;
}

.banner_text_1{
text-align:justify;
font-size:17px;
font-weight:500

}
.banner_text_link{
color:blue;
text-decoration:underline;
font-size:18px;
}

.imgleft
	{    max-width: 120px;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
.facebookbox
	{
		border: 1px solid #b0b1b1;
		border-top: 1px solid #5074a8;
		background: #fff;
		box-shadow: 1px 1px #f4f4f4, -1px 1px #f4f4f4, 0 -1px #cbd6e5;
	}
.facebookbox hr
	{
		margin: 0px auto;
		padding: 0px;
		border: none;
		border-top: 1px solid #dfe5ee;
		border-bottom: 1px solid #f4f6f9;
		width: 96%;
		height: 0px;
		background-color: #dfe5ee;
	}
.facebookbox .header, .facebookbox .contain
	{
		padding: 8px;
	}
.facebookbox .contain {font-size: 11px;}
.facebookbox .header
	{
		font-size: 13px;
	}
.facebookbox .header img
	{
		float: left;
		margin-right: 4px;
	}
.facebookbox a.name
	{
		color: #3e59a6;
		text-decoration: none;
		font-weight: bold;
	}
.facebookbox .fbicon
	{
		height: 16px;
		line-height: 16px;
		padding-left: 18px;
		margin: 0;
		background: url('../img-preland/fbicon.jpg') no-repeat left top;
	}
ul.links
	{
		list-style-type: none;
	}
ul.links li
	{
		margin: 8px 0px;
	}
ul.links li a
	{
		color: #c30606;
		text-decoration: none;
		font-size: 15px;
		font-weight: 700;
		display: inline;
	}
ul.imglinks
	{
		list-style-type: none;
	}
ul.imglinks li
	{
		width: 140px;
		margin: 0px 0px 10px;
	}
ul.imglinks li.l {float: left;clear: both;}
ul.imglinks li.r {float: right;clear: right;}
ul.imglinks li a
	{
		color: #000;
		text-decoration: none;
	}
ul.imglinks li a img
	{
		width: 140px;
		height: 90px;
	}
ul.imglinks li p
	{
		font-size: 11px;
		font-weight: normal;
		line-height: 11px;
		margin: 0px;
		font-family: Tahoma, Arial, sans-serif;
	}
#footer
	{
		border-top: 5px solid #333355;
		color: #AAAAAA;
		background: #222222;
		height: 100px;
		margin-bottom: -20px;
	}
#footer .inner
	{
		width: 1000px;
		height: 100px;
		background: url('../img-preland/logo.png') no-repeat left center;
		margin: 0 auto;
	}
#footer .inner .left
	{
		display: inline-block;
		width: 400px;
		float: left;
	}
#footer .inner .right
	{
		display: inline-block;
		width: 500px;
		float: right;
		text-align: right;
		line-height: 100px;
		font-size: 12px;
		color: #aaa;
		text-shadow: 1px 1px #000;
	}
.clr {clear:both;}
.right-panel-wrapper {
	position: relative;
	width: 300px;
	height: 550px;
	background: url('../img-preland/reklama_bg.jpg') no-repeat 0% 0%;
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}

.right-panel-wrapper .tekst {
	position: relative;
	top: 330px;
	font-size: 1.8em;
	font-weight: bold;
	color: #3c3c3c;
	text-align: center;
}

.right-panel-wrapper .button {
	position: absolute;
	display: block;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: auto;
	padding: .5em 0;
	width: 65%;
	background-color: #3c3c3c;
	text-align: center;
}

.right-panel-wrapper .button a {
	font-size: 25px;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
}
.right-panel-wrapper .stamp {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	right: -37px;
	bottom: -37px;
}
.tagcloud {
	font-size: 12px;
	border-bottom: 1px solid rgb(230, 230, 230);
	border-top: 1px solid rgb(230, 230, 230);
	padding: 6px 12px;
	margin: 0px;
	color: rgb(119, 119, 119);
	position: relative;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
	float: right;
	font-size: 14px;
	margin: 0px;
}
.rating > span {
	display: inline-block;
	position: relative;
	width: 1.1em;
	line-height: 18px;
	color: rgb(255,215,0);
}
.rating > span.no {
	color: rgb(187, 187, 187);
}
.cont-plus {
	padding: 17px 1px;
}
.c-avatar {
	float: left;
	margin-top:12px;
	/*margin-right: 10px;*/
}
.cont-plus .c-avatar img {
	width: 120px;
	height: 150px;
	padding: 2px;
	border: 1px solid rgb(238, 238, 238);
}
.cont-plus .c-avatar p {
	font-size: 10px;
	margin: 0px;
	padding: 3px;
	color: rgb(170, 170, 170);
}
.cont-plus .c-text {
	float: left;
	font-weight: bold;
	color: #000;
	font-size: 17px;
	padding: 10px 0px;
	max-width: 400px;
}
.cont {
	margin: 0px;
	padding: 0px 5px;
}
.cont p {
	margin: 0px;
	padding: 0px 0px 16px;
	line-height: 1.4;
}
.hr-line-a {
	width: 100%;
	height: 2px;
	background: none repeat scroll 0% 0% #DDDDDD;
	margin: 15px 0px;
}
.cont p.art-plus {
	color: #ABBBBB;
	font-size: 11px;
	margin: 2px;
	max-width: 220px;
	padding: 6px 10px 8px 0px;
}
.art-plus .art-img {
	min-width: 120px;
	max-width: 200px;
	min-height: 80px;
	max-height: 330px;
	padding: 2px;
	border: 1px solid #DDDDDD;
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
}
.cont p.art-plus-big {
	color: #ABBBBB;
	font-size: 11px;
	margin: 2px;
	max-width: 320px;
	padding: 6px 10px 8px 0px;
}
/*.social {
	background: url('social.png') no-repeat scroll left top transparent;
	height: 20px;
	min-width: 400px;
}*/
.comments {
	margin: 25px 0px 0px;
	padding: 10px;
}
.addcomments {
	border-bottom: 1px dotted rgb(188, 188, 188);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.comments .addcomm-title {
	border-bottom: 4px solid rgb(85, 85, 85);
	color: rgb(85, 85, 85);
	display: block;
	font-size: 24px;
	line-height: 19.11px;
	margin: 5px 0px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: -2px -2px rgb(255, 255, 255);
}
.addcomm-avatar {
	float: left;
	padding: 5px;
	margin: 0px 7px;
}
.addcomm-avatar img.avstr {
	width: 52px;
	height: 52px;
	border-radius: 5px 5px 5px 5px;
	opacity: 0.7;
}
.addcomm-message {
	float: left;
	padding: 5px 0px;
}
.addcomm-message textarea {
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid rgb(221, 238, 238);
	background: none repeat scroll 0% 0% rgb(250, 250, 250);
	margin: 0px;
	font-size: 14px;
	color: rgb(68, 68, 85);
	width: 540px;
	height: 28px;
	resize: vertical;
}
.addcomm-message textarea:hover {
	color: rgb(17, 17, 17);
}
.addcomm-message textarea:focus {
	border-color: rgb(187, 204, 204);
	color: rgb(34, 34, 34);
}
.addcomm-loading {
	width: 42px ! important;
	height: 42px ! important;
	position: absolute;
	z-index: 33;
	margin: 4px;
	display: none;
}
.ac-input {
	margin-top: 10px;
	display: none;
}
.ac-input .ac-input-ll {
	float: left;
	margin-right: 15px;
}
.ac-input .ac-input-rr {
	float: right;
	margin-right: 15px;
}
.ac-input h6.ac-lab {
	color: rgb(142, 148, 156);
	font-size: 11px;
	font-weight: 600;
	line-height: 1;
	margin: 0px 0px 10px;
	text-transform: uppercase;
}
.ac-input input.ac-inp {
	width: 195px;
	padding: 6px 10px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid rgb(221, 238, 238);
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	margin: 0px;
	font-size: 14px;
	color: rgb(68, 68, 85);
}
.ac-input input.ac-inp:hover {
	color: rgb(17, 17, 17);
}
.ac-input input.ac-inp:focus {
	border-color: rgb(187, 204, 204);
	color: rgb(34, 34, 34);
}
.ac-input input.ac-btn {
	margin: 20px 0px 0px;
	padding: 6px 10px;
	text-shadow: 1px 1px rgb(68, 68, 68);
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid rgb(221, 238, 238);
	background: none repeat scroll 0% 0% rgb(119, 136, 136);
	font-size: 14px;
	color: rgb(254, 254, 254);
}
.ac-input input.ac-btn:hover {
	border: 2px solid rgb(119, 136, 136);
	color: rgb(255, 255, 255);
}
.addcomm-count {
	border-bottom: 1px dotted rgb(188, 188, 188);
	padding: 0px 10px 10px;
	margin-bottom: 10px;
	color: rgb(170, 170, 170);
}
#sendinfo {
	font-weight: bold;
	padding: 10px 10px 0px 80px;
	text-decoration: underline;
}
.comm {
	padding: 10px;
}
.comm-avatar {
	float: left;
}
.comm-avatar img {
	width: 52px;
	height: 52px;
	padding: 2px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px 5px 5px 5px;
}
.comm-text {
	background: none repeat scroll 0px 0px rgb(255, 255, 255);
	border-bottom: 2px solid rgb(221, 221, 221);
	border-radius: 0px 0px 5px 0px;
	border-right: 2px solid rgb(221, 221, 221);
	box-shadow: 0px 0px 1px 2px rgb(255, 255, 255);
	color: rgb(68, 68, 68);
	float: left;
	line-height: 20px;
	max-width: 558px;
	min-width: 558px;
	padding: 10px;
}
.comm-head {
	transition: all 0.8s ease 0s;
	font-weight: bold;
	color: rgb(119, 136, 136);
	margin: 0px 0px 5px;
	padding: 0px 0px 5px;
	border-bottom: 1px solid rgb(242, 242, 242);
}
.comm-head span {
	font-size: 12px;
	color: rgb(204, 204, 204);
	font-weight: normal;
}
.comm-reply {
	float: right;
	margin-right: 5px;
	display: none;
}
.comm:hover .comm-reply {
	display: inline;
}
.comm:hover .comm-text {
	color: rgb(17, 17, 17);
	border-color: rgb(170, 221, 255);
}
.comm:hover .comm-head {
	color: rgb(34, 34, 34);
	border-color: rgb(238, 238, 238);
}
.comm:hover .comm-head span {
	color: rgb(136, 136, 136);
}
#content .wykres-wrapper {
	position: relative;
	width: 483px;
	height: 273px;
	margin: 1em auto 2em auto;
	border: 1px solid #DDD;
	font-family: Verdana, Arial, sans-serif;
}
#content .wykres-wrapper .potency {
	position: absolute;
	text-align: center;
	top: 1em; left: 70px; bottom: auto;
	margin: auto;
	font-size: 5em;
	color: #ebebeb;
	text-shadow: none;
	text-transform: uppercase;
	z-index: 0;
}
#content .wykres-wrapper .wykres {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img-preland/dane.png') no-repeat center;
	z-index: 100;
}
#content .wykres-wrapper .title {
	position: absolute;
	right: 0;
	width: 433px;
	text-align: center;
	font: 1.4em 'Verdana';
	letter-spacing: -1px;
}
#content .wykres-wrapper .okres-kuracji {
	position: absolute;
	bottom: -15px;
	right: 5px;
	font-size: .9em;
}
#content .czas-wydluzania {
	position: absolute;
	top: 118px; left: -100px;
	font-size: .9em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
h2.title {
	font-size: 30px;
	color: rgb(51, 51, 51);
	padding: 0px 0px 10px;
}
h3.title {
	font-size: 20px;
	color: rgb(119, 119, 119);
	font-style: italic;
	font-weight: normal;
	padding: 0px 10px 10px;
}
.containsocial
	{
		height: 20px;
	}
.facebookbutton {
    line-height:19px;
	display: inline-block;
	font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #ffffff;
	padding: 0px 4px 0px 19px !important;
	height: 18px;
	border: 1px solid rgb(60,86,161);
	background: rgb(60,86,161) url('../img-preland/fb.png') scroll no-repeat -1px center;
	cursor: pointer;
	margin: 0px;
}
.facebookbox .header .facebookbutton {margin-top: 6px;}
.facebookbutton:hover
{
	background-image: url('../img-preland/fb-h.png');
	border-color: rgb(73,101,179);
}
/*.liked
{
	background-image: url('fb-l.png');
}*/
.liked:hover
{
	background-image: url('../img-preland/fb-ul.png');
}
.left {float: left;}
.likes-desc {display: inline-block;font-size: 11px;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;margin-bottom: 3px; }
.arrow_box {
	font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	line-height: 17px;
	display: inline-block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	background: #ffffff;
	border: 1px solid #898F9C;
	margin: 0px 0px 0px 5px !important;
	padding: 0px 4px !important;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 4px;
	margin-top: -4px;
}
.arrow_box:before {
	border-color: rgba(137, 143, 156, 0);
	border-right-color: #898F9C;
	border-width: 5px;
	margin-top: -5px;
}
.fbleft {float: left;}
.fbright {float:right;}
#textontop{
margin-left:30px;
font-size:18px;
}
.yellowback
{
text-shadow: 1px 1px rgb(255, 255, 255);
color: rgb(51, 51, 51);
background: #FF0;
}
#header .right .like {
    position: absolute;
    right: 0px;
	top:66px;
}
#header .right {
	 padding-top: 10px;
     padding-bottom: 10px;
     position: relative;
}
#header .like {
    font-size: 12px;
}
#header .right .like .likeL {
    float: left;
}
#header .right .like .likeM {
    background-image: url('../img-preland/fblikem.png');
    float: left;
}
#header .right .like .likeM p {
    margin: 0px;
    line-height: 26px;
}
#header .like .liked {
    position: relative;
    bottom: 10px;
}
/*.liked {
    background-image: url('fb-l.png');
}*/
.social {
    text-align: right;
	margin-bottom:30px;
}
.title {
	line-height: 1.1;
	font-size: 35px;
}
#adrek,#adrek2 {
    display: block;
    position: relative;
    top: 25px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;
    background: #87e0fd;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #05abe0));
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -o-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -ms-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=0);
}
#adrek > .slogan,#adrek2 > .slogan {
    display: block;
    color: #fff;
    background-color: #0083E0;
    font-size: 24px;
    padding: 10px 0;
    position: static;
    margin-top: 10px;
}
#adrek > img, ,#adrek2 >img {
    width: 250px;
    margin: 30px 0;
}
#adrek > .button-ad, ,#adrek2 > .button-ad {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background-color: #0083E0;
    margin: auto 0;
    border: 3px groove #0083E0;
    border-radius: 10px;
    padding: 5px 10px;
    position: static;
    margin-bottom: 25px;
}
#adrek > .button ,#adrek2 > .button {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background-color: #0083E0;
    margin: auto 0;
    border: 3px groove #0083E0;
    border-radius: 10px;
    padding: 5px 10px;
    position: static;
    margin-bottom: 25px;
}

.menulangfix a {
   padding: 9px 5px 9px!important;
}
.lptype{
	text-align: center;
	font-weight: normal;
    letter-spacing: 7px;
    padding-top: 25px;
    margin-bottom: 20px;
    color: #a8a8a8;
	text-transform: uppercase;
}